DATABASE_URL="prisma://johndoe:randompassword@localhost:5432/mydb?schema=public"
DIRECT_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
CLOUDINARY_CLOUD_NAME=xxxx
CLOUDINARY_API_KEY=xxxx
CLOUDINARY_API_SECRET=xxxx
CLOUDINARY_FOLDER=eco-rapid/reports
TURNSTILE_SITE_KEY=<your_site_key>
TURNSTILE_SECRET_KEY=<your_secret_key>
