DATABASE_URL="prisma://johndoe:randompassword@localhost:5432/mydb?schema=public"
DIRECT_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
CLOUDINARY_CLOUD_NAME=xxxx
CLOUDINARY_API_KEY=xxxx
CLOUDINARY_API_SECRET=xxxx
CLOUDINARY_FOLDER=eco-rapid/reports
TURNSTILE_SITE_KEY=<your_site_key>
TURNSTILE_SECRET_KEY=<your_secret_key>
SITE_NAME=<nama_sitemu>
CONTACT_TO=namaemailmu@gmail.com
GMAIL_CLIENT_ID=<gmail_oauth_client_id>
GMAIL_CLIENT_SECRET=<gmail_oauth_client_secret>
GMAIL_REFRESH_TOKEN=<gmail_oauth_refresh_token>
GMAIL_SENDER_EMAIL="no-reply@domainmu.id"
BETTER_AUTH_SECRET=<random_string>
BETTER_AUTH_URL=localhost:5173
