$primary: #2e8b57;
$secondary: #3cb371;

$btn-padding-y: 12px;
$btn-padding-x: 30px;
$btn-font-weight: 600;
$btn-border-radius: 50px;
$btn-transition: all 0.3s ease;
$btn-color: #fff;
$btn-primary-color: #fff;

@import "bootstrap/scss/bootstrap";

.btn-primary {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 50px;
  transition: all 0.3s ease;
  color: #fff;

  &:hover {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
  }
}